In [ ]:
185 Covid19 and T2DM v2 .xlsx

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import stats
import numpy as np

In [2]:
# plotly standard imports
import plotly.graph_objs as go
# Cufflinks wrapper on plotly
import cufflinks as cf
%matplotlib inline
# Options for pandas
from chart_studio.plotly import iplot
plt.style.use('fivethirtyeight')

In [153]:
demographics = pd.read_excel('185 Covid19 and T2DM v2 .xlsx', sheet_name='Master')

In [5]:
#df = demographics.drop_duplicates('EPI')

In [154]:
demographics1= demographics.drop_duplicates('EPI', keep = 'first')

In [155]:
demographics1

,VisitID,EncounterNumber,EPI,MRN,FacilityName,PatientName,PatientAge,Race,Gender,Ethnicity,...,HF,MI,Peripheral Vascular Disease,Diabetic retinopathy,Hyperlipidemia,"CKD_3,4,5",diabetic neuropathy,Diabetic Peripheral Neuropathy,Tabacco Abuse,dementia
0,46992140,500011031845,7716438.0,41284073,NSUH,"BEGUM, REKHA",50,Asian,Female,Not Hispanic or Latino,...,N,N,N,N,Y,N,N,N,N,N
2,47646407,42858618,6748859.0,2969957,Long Island Jewish Hospital,"CROSDALE, LORRAINE A",58,African Amer/Black,Female,Not Hispanic or Latino,...,Y,N,N,N,Y,N,N,N,N,N
3,47684812,42858761,7218561.0,3044802,Long Island Jewish Hospital,"PHILLIPS, LAURA M",69,African Amer/Black,Female,Not Hispanic or Latino,...,Y,N,N,N,Y,Y,N,N,N,N
4,47709511,18276966,1537042.0,406631,SIUH North,"SANZONE, ROSE",86,White,Female,Not Hispanic or Latino,...,Y,Y,N,N,Y,Y,N,N,N,N
5,47723753,500011084232,450579.0,1166969,Syosset Hospital,"SHULMAN, LARRY H",60,White,Male,Not Hispanic or Latino,...,Y,N,N,N,Y,N,Y,N,N,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9470,57569297,1653630879,8832499.0,829029,LIJ Forest Hills,"BONCIC, VLATKO",63,White,Male,Not Hispanic or Latino,...,Y,Y,N,N,Y,N,N,N,N,N
9471,57570218,42906282,1211004.0,2648793,Long Island Jewish Hospital,"ADELOKIKIDENTE, LOUISE",58,African Amer/Black,Female,Not Hispanic or Latino,...,N,N,N,N,Y,N,N,N,N,N
9472,57570317,500011739082,6952181.0,41265000,NSUH,"CHEN, TSAI",73,Asian,Male,Not Hispanic or Latino,...,N,N,N,N,Y,Y,N,N,N,N
9473,57570757,500011738902,4006359.0,40730079,NSUH,"YUNAEV, LARISA",42,White,Female,Not Hispanic or Latino,...,N,N,N,N,Y,N,N,N,N,N
9474,57572464,1752886638,959602.0,764369,SSUH,"ORTIZ, HILDA",69,White,Female,Not Hispanic or Latino,...,N,N,N,N,Y,N,N,N,N,N

In [17]:
countdtm = demographics1.loc[demographics1.DischargeDisposition == 'Expired']

In [22]:
np.median(countdtm.DischargeDtm - countdtm.admitdtm)

numpy.timedelta64(888780000000000,'ns')

In [21]:
Q1 = np.percentile(countdtm.DischargeDtm - countdtm.admitdtm, 25, interpolation = 'midpoint') 
Q2 = np.percentile(countdtm.DischargeDtm - countdtm.admitdtm, 50, interpolation = 'midpoint') 
Q3 = np.percentile(countdtm.DischargeDtm - countdtm.admitdtm, 75, interpolation = 'midpoint') 
  
print('Q1 25 percentile of the given data is, ', Q1)
print('Q1 50 percentile of the given data is, ', Q2)
print('Q1 75 percentile of the given data is, ', Q3)
  
IQR = Q3 - Q1 
print('Interquartile range is', IQR)

Q1 25 percentile of the given data is,  450810000000000 nanoseconds
Q1 50 percentile of the given data is,  888780000000000 nanoseconds
Q1 75 percentile of the given data is,  1603680000000000 nanoseconds
Interquartile range is 1152870000000000 nanoseconds

In [156]:
demographics1.AdmissionMortality.value_counts('Y')

N    0.79554
Y    0.20446
Name: AdmissionMortality, dtype: float64

In [157]:
medication = pd.read_excel('185 Covid19 and T2DM v2 .xlsx', sheet_name='Admission Meds')

In [26]:
medication

,VisitID,EncounterNumber,MRN,EPI,AdmitDtm,MedName,MedicationDtm,GenericName,ReconcileTypeCode,ReconcileStatus,Dosage,UOM,MedClass
0,48073293,21090304,10264918,4164512.0,2020-03-30 19:13:00,insulin lispro (HumaLOG) corrective regimen sl...,2020-03-30 23:55:00.000,insulin lispro,Admission Reconciliation,Complete,Unknown,Unknown,Ultra Rapid-Acting Isulin
1,48073574,500011120663,41297891,7896277.0,2020-03-30 21:16:00,enoxaparin Injectable,2020-03-31 00:23:00.000,enoxaparin,Admission Reconciliation,Complete,0.25,milliGRAM(s),Anticoagulants
2,48073642,21090314,10206652,2504738.0,2020-03-30 23:05:00,insulin glargine Injectable (LANTUS),2020-03-31 01:36:00.000,insulin glargine,Admission Reconciliation,Complete,92,Unit(s),Long-Acting Isulin
3,48073642,21090314,10206652,2504738.0,2020-03-30 23:05:00,insulin lispro (HumaLOG) corrective regimen sl...,2020-03-31 01:36:00.000,insulin lispro,Admission Reconciliation,Complete,Unknown,Unknown,Ultra Rapid-Acting Isulin
4,48073715,500011121109,40993306,6081694.0,2020-03-31 03:20:00,enoxaparin Injectable,2020-03-31 09:16:00.000,enoxaparin,Admission Reconciliation,Complete,0.25,milliGRAM(s),Anticoagulants
...,...,...,...,...,...,...,...,...,...,...,...,...,...
24987,48405416,18315019,784651,1773905.0,2020-05-01 21:46:00,simvastatin,2020-05-02 01:00:00.000,simvastatin,Admission Reconciliation,Complete,0.25,milliGRAM(s),Statins
24988,48405514,500011160685,41029746,6299519.0,2020-05-01 22:28:00,aspirin enteric coated,2020-05-01 23:07:00.000,aspirin,Admission Reconciliation,Complete,0.25,milliGRAM(s),NSAID
24989,48405514,500011160685,41029746,6299519.0,2020-05-01 22:28:00,enoxaparin Injectable,2020-05-02 11:35:00.000,enoxaparin,Admission Reconciliation,Complete,0.25,milliGRAM(s),Anticoagulants
24990,48405764,1752640571,31214732,817939.0,2020-05-02 00:13:00,insulin regular human recombinant.,2020-05-02 00:25:11.927,insulin regular,Admission Reconciliation,Complete,92,Unit(s),Rapid-Acting Isulin
24991,48405832,500011160933,41102772,3464173.0,2020-05-02 05:15:00,enoxaparin Injectable,2020-05-02 06:11:00.000,enoxaparin,Admission Reconciliation,Complete,0.25,milliGRAM(s),Anticoagulants

In [158]:
medication.MedClass = medication.MedClass.astype(str)

In [159]:
medsclass = pd.DataFrame(medication.groupby('EPI')['MedClass'].unique()).reset_index()

In [11]:
df2 = medication.drop_duplicates('EPI', keep = 'first')

# merge df1 and complicaiton

In [160]:
dfwithmeds = pd.read_csv("epi with meds.csv")

In [161]:
df = pd.merge(demographics1, dfwithmeds, on = 'EPI')

In [162]:
df = df.drop_duplicates('EPI',keep = 'first')

In [163]:
df['Diabetic Peripheral Neuropathy'] = pd.Categorical(df['Diabetic Peripheral Neuropathy'])
df['diabet_peri'] = df['Diabetic Peripheral Neuropathy'].cat.codes

In [164]:
df['CKD_3,4,5'] = pd.Categorical(df['CKD_3,4,5'])
df['CKD'] = df['CKD_3,4,5'].cat.codes

In [165]:
df['diabetic neuropathy'] = pd.Categorical(df['diabetic neuropathy'])
df['diabet_neuor'] = df['diabetic neuropathy'].cat.codes

In [166]:
df['Diabetic retinopathy'] = pd.Categorical(df['Diabetic retinopathy'])
df['diabet_retino'] = df['Diabetic retinopathy'].cat.codes

In [167]:
df['Diabetic foot ulcer'] = pd.Categorical(df['Diabetic foot ulcer'])
df['fulcer'] = df['Diabetic foot ulcer'].cat.codes

In [168]:
 df['mi_cro'] = df['diabet_retino'] +df['fulcer']+ df['CKD']

In [116]:
df['new'] = df[(df['diabet_retino'] == ) & (df['CKD'] ==  1) & (df['fulcer'] ==  1)]

In [224]:
df.new.value_counts()

NOCOMPLCATION    6003
CKDonly           942
FUonly            194
CKDFU             111
DRCKD              49
DRonly             37
allthree           19
DRFU               12
Name: new, dtype: int64

In [228]:
df.loc[df.new == 'DRFU'].AdmissionMortality.value_counts()

N    10
Y     2
Name: AdmissionMortality, dtype: int64

In [195]:
df.loc[df.mi_cro.loc[df.mi_cro == 0]].AdmissionMortality.value_counts()

N    6003
Name: AdmissionMortality, dtype: int64

In [65]:
df['microvv'] = np.where(
    df['mi_cro'] != 0 , 
    1, 
    0
)

In [66]:
df.to_csv('onlyone.csv')

In [67]:
df['microvv'] = np.where(
    df['mi_cro'] == 2 , 
    1, 
    0
)

In [68]:
df.to_csv('onlytwo.csv')

In [69]:
df['microvv'] = np.where(
    df['mi_cro'] == 3 , 
    1, 
    0
)

In [70]:
df.to_csv('onlythree.csv')

In [ ]:
df['microvv'] = np.where(
    df['mi_cro'] != 0 , 
    1, 
    0
)

In [37]:
df['micro'] = df['diabet_retino'] +df['fulcer']+df['diabet_peri'] + df['diabet_neuor'] + df['CKD']

In [211]:
df.loc[(df['CKD'] == 1) & (df['diabet_retino'] == 0) & (df['fulcer'] == 1) ,'new'] = 'CKDFU'

In [209]:
df.new.value_counts()

NOCOMPLCATION    6003
CKDonly           942
FUonly            194
CKDFU             111
DRCKD              49
DRonly             37
allthree           19
DRFU               12
Name: new, dtype: int64

In [152]:
df = df.loc[df['new'] == 'CKDonly']

In [212]:
df.new.value_counts()

NOCOMPLCATION    6003
CKDonly           942
FUonly            194
CKDFU             111
DRCKD              49
DRonly             37
allthree           19
DRFU               12
Name: new, dtype: int64

In [183]:
df['Gender1'] = pd.Categorical(df['Gender'])
df['Gender1'] = df['Gender1'].cat.codes

In [220]:
df.to_csv('try1.csv')

In [219]:
df.new.value_counts()

NOCOMPLCATION    6003
CKDonly           942
FUonly            194
CKDFU             111
DRCKD              49
DRonly             37
allthree           19
DRFU               12
Name: new, dtype: int64

In [38]:
df['microv'] = np.where(
    df['micro'] != 0 , 
    1, 
    0
)

In [73]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [141]:
df.PatientAge

0       50
2       58
3       86
4       60
5       45
        ..
7483    63
7484    58
7485    73
7486    42
7487    69
Name: PatientAge, Length: 7367, dtype: int64

In [149]:
model = smf.logit("df.status.Y ~ new", data = df).fit()

np.exp(model.params)

Optimization terminated successfully.
         Current function value: 0.450135
         Iterations 6

Intercept               0.337349
new[T.CKDonly]          1.088482
new[T.DRCKD]            1.070437
new[T.DRFULCER]         0.592857
new[T.DRonly]           0.691667
new[T.FUonly]           0.652516
new[T.NOCOMPLCATION]    0.528963
new[T.allthree]         0.790476
dtype: float64

In [150]:
params = model.params
conf = model.conf_int()
conf['Odds Ratio'] = params
conf.columns = ['5%', '95%', 'Odds Ratio']
print(np.exp(conf)[:10])

                            5%       95%  Odds Ratio
Intercept             0.219813  0.517734    0.337349
new[T.CKDonly]        0.692712  1.710370    1.088482
new[T.DRCKD]          0.497962  2.301049    1.070437
new[T.DRFULCER]       0.122425  2.870969    0.592857
new[T.DRonly]         0.273575  1.748705    0.691667
new[T.FUonly]         0.371466  1.146206    0.652516
new[T.NOCOMPLCATION]  0.342681  0.816507    0.528963
new[T.allthree]       0.242123  2.580726    0.790476

# MACRO

In [28]:
df.columns

Index(['VisitID', 'EncounterNumber', 'EPI', 'MRN', 'FacilityName',
       'PatientName', 'PatientAge', 'Race', 'Gender', 'Ethnicity',
       ...
       'both1', 'both', 'OTHER', 'diabet_peri', 'CKD', 'diabet_neuor',
       'diabet_retino', 'fulcer', 'micro', 'microv'],
      dtype='object', length=115)

In [29]:
df['Peripheral Vascular Disease'] = pd.Categorical(df['Peripheral Vascular Disease'])
df['peri'] = df['Peripheral Vascular Disease'].cat.codes

In [30]:
df['CAD'] = pd.Categorical(df['CAD'])
df['cadcode'] = df['CAD'].cat.codes

In [31]:
df['Stroke'] = pd.Categorical(df['Stroke'])
df['strokecode'] = df['Stroke'].cat.codes

In [32]:
df['MI'] = pd.Categorical(df['MI'])
df['MICODE'] = df['MI'].cat.codes

In [33]:
df['TIA'] = pd.Categorical(df['TIA'])
df['TIACOEE'] = df['TIA'].cat.codes

In [34]:
df['macro'] = df['peri'] +df['cadcode']+df['strokecode'] + df['MICODE'] + df['TIACOEE']

In [35]:
df['macrov'] = np.where(
    df['macro'] != 0 , 
    1, 
    0
)

In [36]:
df.columns

Index(['VisitID', 'EncounterNumber', 'EPI', 'MRN', 'FacilityName',
       'PatientName', 'PatientAge', 'Race', 'Gender', 'Ethnicity',
       ...
       'fulcer', 'micro', 'microv', 'peri', 'cadcode', 'strokecode', 'MICODE',
       'TIACOEE', 'macro', 'macrov'],
      dtype='object', length=122)

In [44]:
pd.crosstab(df['CKD'], df['microv'], margins=True)

#df['CKD'].value_counts(sort=False)

microv     0     1   All
CKD
0       5567   679  6246
1          0  1121  1121
All     5567  1800  7367

# code ace

In [54]:
df.loc[(df['ACEI'] == 1) & (df['STATINS'] == 1) | (df['ARB'] == 1) & (df['STATINS'] == 1),'aceiarbandstatin'] = 1

In [55]:
df.loc[(df['ACEI'] == 1) | (df['ARB'] == 1) ,'aceiarbeither'] = 1

In [56]:
df.aceiarbeither = df.aceiarbeither.fillna('0')

In [57]:
df.aceiarbandstatin= df.aceiarbandstatin.fillna('0')

In [58]:
df.STATINSALONE = df.STATINSALONE.fillna('0')

In [59]:
df['HTN'] = pd.Categorical(df['HTN'])
df['HTN'] = df['HTN'].cat.codes

In [93]:
cleandf = df[['aceiarbeither','aceiarbandstatin','STATINSALONE','OTHER','microv','macrov','EPI','PatientAge','Race','Gender','LOSDays','HTN','status','AdmissionMortality']]

In [123]:
cleandf.groupby('STATINSALONE').agg('PatientAge':'mean')

SyntaxError: invalid syntax (<ipython-input-123-3bacb411f49a>, line 1)

In [120]:
cleandf.to_csv('cleandf.csv')

In [5]:
df = pd.read_csv('cleandf.csv')

In [26]:
dfefr = pd.read_csv('dfwithefr.csv')

In [27]:
cleandf = pd.merge(df,dfefr, on = 'EPI')

In [28]:

cleandf['eGFR<60'] = ['yes' if x < 60 else 'no' for x in cleandf['eGFR']]

In [30]:
cleandf.to_csv('micro.csv')

In [31]:
cleandf.eGFR.mean()

59.22361262241567

In [51]:
pd.crosstab(cleandf['eGFR'], cleandf['microv'], margins=True)
cleandf.groupby('microv')['eGFR'].mean()

microv
0    65.915346
1    38.583333
Name: eGFR, dtype: float64

In [45]:
cleandf.groupby(by='CKD').agg('count')

,VisitID,EncounterNumber,EPI,MRN,FacilityName,PatientName,PatientAge,Race,Gender,Ethnicity,...,diabet_peri,diabet_neuor,diabet_retino,fulcer,micro,microv,RACE,eGFR,eGFR<60,status
CKD,,,,,,,,,,,,,,,,,,,,,
0,6246,6246,6246,6246,6246,6246,6246,6244,6246,6246,...,6246,6246,6246,6246,6246,6246,6246,6231,6246,6246
1,1121,1121,1121,1121,1121,1121,1121,1121,1121,1121,...,1121,1121,1121,1121,1121,1121,1121,1121,1121,1121

In [46]:
microdf = pd.read_csv('micro.csv')

In [66]:
microdf['DR'] = microdf['diabet_retino'] + microdf['diabet_peri'] + microdf['diabet_neuor']

In [69]:
microdf['DR1'] = np.where(
    microdf['DR'] != 0 , 
    1, 
    0
)

In [70]:
microdf.loc[(microdf['CKD'] == 1) & (microdf['DR1'] == 1) ,'ckd_dr'] = 1

In [71]:
microdf.ckd_dr = microdf.ckd_dr.fillna('0')

In [72]:
microdf.loc[(microdf['CKD'] == 1) & (microdf['fulcer'] == 1) ,'ckd_fulcer'] = 1

In [73]:
microdf.ckd_fulcer = microdf.ckd_fulcer.fillna('0')

In [74]:
microdf.loc[(microdf['fulcer'] == 1) & (microdf['DR1'] == 1) ,'foot_DR'] = 1

In [75]:
microdf.foot_DR = microdf.foot_DR.fillna('0')

In [76]:
microdf.loc[(microdf['fulcer'] == 1) & (microdf['DR1'] == 1) & microdf['CKD'] == 1 ,'all_micro'] = 1

In [77]:
microdf.all_micro = microdf.all_micro.fillna('0')

In [78]:
microdf.to_csv('micro1.csv')